<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.avaliabrasil.avaliabrasil2">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <!-- This permission is necessary in order for Sunshine to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="android.permission.USE_CREDIALS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".avb.util.AvaliaBrasilApplication">

        <!-- Needed for facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data android:name="com.facebook.sdk.ApplicationName" android:value="@string/app_name" />

        <activity
            android:name=".avb.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>


        <activity
            android:name=".avb.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".avb.activity.PlaceActivity"
            android:label="@string/title_activity_place"
            android:parentActivityName=".avb.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".avb.activity.MainActivity" />
        </activity>
        <activity
            android:name=".avb.activity.EvaluationActivity"
            android:label="@string/title_activity_evaluation"
            android:parentActivityName=".avb.activity.PlaceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".avb.activity.PlaceActivity" />
        </activity>
        <activity
            android:name=".avb.activity.PlaceStatisticsActivity"
            android:label="@string/title_activity_place_statistics"
            android:parentActivityName=".avb.activity.PlaceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".avb.activity.PlaceActivity"
                android:theme="@style/AppTheme.NoActionBar" />
        </activity>
        <activity android:name=".avb.activity.ExitActivity"></activity>
        <activity
            android:name=".avb.activity.RankingActivity"
            android:label="@string/title_activity_ranking"
            android:parentActivityName=".avb.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".avb.activity.MainActivity" />
        </activity>

        <activity
            android:name=".avb.activity.HelpActivity"
            android:parentActivityName=".avb.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".avb.activity.MainActivity" />
        </activity>

        <activity
            android:name=".avb.activity.TermsOfUseActivity"
            android:parentActivityName=".avb.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".avb.activity.MainActivity" />
        </activity>


        <!-- Need for facebook dev kit -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <!-- Need for share options -->
        <provider
            android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <!-- End of facebook dependecies-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCBq-qetL_jdUUhM0TepfVZ5EYxJvw6ct0" />

        <provider
            android:authorities="org.avaliabrasil.avaliabrasil2"
            android:name=".avb.dao.AvBProvider"
            android:syncable="true" />

        <!-- SyncAdapter's dummy authentication service -->
        <service android:name=".avb.sync.AvbAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- Location service to update the user current location -->
        <service android:name=".avb.gps.GPSService"/>

        <!-- Used to send the user left behind data to server -->
        <service android:name=".avb.sync.ServiceAnwserSync"/>

        <receiver android:name=".avb.gps.GpsLocationReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
