<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.avaliabrasil.avaliabrasil">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".avb.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".avb.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".avb.PlaceActivity"
            android:label="@string/title_activity_place"
            android:parentActivityName=".avb.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".avb.MainActivity" />
        </activity>
        <activity
            android:name=".avb.EvaluationActivity"
            android:label="@string/title_activity_evaluation"
            android:parentActivityName=".avb.PlaceActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".avb.PlaceActivity" />
        </activity>
        <activity
            android:name=".avb.PlaceStatisticsActivity"
            android:label="@string/title_activity_place_statistics"
            android:parentActivityName=".avb.PlaceActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".avb.PlaceActivity" />
        </activity>
        <activity
            android:name=".avb.RankingActivity"
            android:label="@string/title_activity_ranking"
            android:parentActivityName=".avb.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".avb.MainActivity" />
        </activity>
        <activity
            android:name=".avb.NewPlaceActivity"
            android:label="@string/title_activity_new_place"
            android:parentActivityName=".avb.PlaceActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".avb.PlaceActivity" />
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCBq-qetL_jdUUhM0TepfVZ5EYxJvw6ct0" />
    </application>

</manifest>
